.diary-container{
    height: 10.94vh;
    width : 54.69vh;
    border-radius: 15px;
    background-color: #fff;
    border: 1.5px solid #d9d9d9;
    display: flex
}

.diary-container2{
    height: 10.94vh;
    width : 46.1vh;
    margin-right:0;
    background-color: #000;
}

.diary-icon{
    height: 5vh;
    width: 5vh;
    margin-left : 3.59vh;
    margin-top :2.97vh;
    
}

.diary-title{
    color: var(--Labels-Primary, #000);
    font-family: "Noto Sans KR";
    font-size: 1.25vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}